In [16]:
import numpy as np
import pandas as pd

In [17]:
df = (
    pd
    .read_csv('uncleaned_real_state_data.csv')
    .drop_duplicates()
    .apply(lambda col: col.str.strip().str.lower() if col.dtype == 'object' else col)
    .assign(
        is_reviewed = lambda df_ : (
                df_
                .name
                .str.contains("\n")
                .astype(int)
            ),
        name = lambda df_: (
                df_
                .name
                .str.replace("\n[0-9.]+", "", regex=True)
                .str.strip()
            ),
        location = lambda df_: (
                df_
                .location
                .str.replace("kolkata", "")
                .str.strip()
                .str.replace(",$", "", regex=True)
                .str.split("in")
                .str[-1]
                .str.strip()
            ),
        price = lambda df_: (
                df_
                .price
                .str.replace("₹", "")
                .apply(
                     lambda val: float(val.replace('lac', '').strip()) if 'lac' in val else float(val.replace("cr","").strip()) * 100 
                )
            ),
        area = lambda df_: (
                df_
                .area
                .str.replace("sqft", "")
                .str.strip()
                .str.replace(",", "")
                .str.strip()
                .astype(int)
            ),
        bhk = lambda df_: (
                df_
                .bhk
                .str.replace("bhk", "")
                .str.strip()
                .astype(int)
            ),
    
    )
    .rename(columns={
        'price': 'price_lacs',
        'area': 'area_sqft'
    })
    .reset_index(drop=True)
    .to_csv("cleaned_real_state_data.csv", index=False)
    
)

In [18]:
df['price'].str.split(" ").str[-1].unique()

TypeError: 'NoneType' object is not subscriptable

In [ ]:
df['price'].str.contains('₹').value_counts()

TypeError: 'NoneType' object is not subscriptable

In [ ]:
df['location'].str.contains('kolkata').value_counts()

TypeError: 'NoneType' object is not subscriptable

In [ ]:
df[df.name.str.contains("\n")]

AttributeError: 'NoneType' object has no attribute 'name'

In [ ]:
df.info()

AttributeError: 'NoneType' object has no attribute 'info'