In [1]:
import numpy as np
import pandas as pd

In [62]:
df = (
    pd
    .read_csv('Real_state_data.csv')
    .drop_duplicates()
    .apply(lambda col: col.str.strip().str.lower() if col.dtype == 'object' else col)
    .assign(
        is_reviewed = lambda df_ : (
                df_
                .name
                .str.contains("\n")
                .astype(int)
            ),
        name = lambda df_: (
                df_
                .name
                .str.replace("\n[0-9.]+", "", regex=True)
                .str.strip()
            ),
        location = lambda df_: (
                df_
                .location
                .str.replace("kolkata", "")
                .str.strip()
                .str.replace(",$", "", regex=True)
                .str.split("in")
                .str[-1]
                .str.strip()
            ),
        price = lambda df_: (
                df_
                .price
                .str.replace("₹", "")
                .apply(
                     lambda val: float(val.replace('lac', '').strip()) if 'lac' in val else float(val.replace("cr","").strip()) * 100 
                )
            ),
        area = lambda df_: (
                df_
                .area
                .str.replace("sqft", "")
                .str.strip()
                .str.replace(",", "")
                .str.strip()
                .astype(int)
            ),
        bhk = lambda df_: (
                df_
                .bhk
                .str.replace("bhk", "")
                .str.strip()
                .astype(int)
            ),
    
    )
    .rename(columns={
        'price': 'price_lacs',
        'area': 'area_sqft'
    })
    .reset_index(drop=True)
    .to_csv("kolkata-properties-99acres.csv", index=False)
    
)

In [50]:
df['price'].str.split(" ").str[-1].unique()

array(['lac', 'cr'], dtype=object)

In [48]:
df['price'].str.contains('₹').value_counts()

price
False    2254
Name: count, dtype: int64

In [35]:
df['location'].str.contains('kolkata').value_counts()

location
False    2254
Name: count, dtype: int64

In [33]:
df[df.name.str.contains("\n")]

Empty DataFrame
Columns: [name, location, price, area, bhk, is_reviewed]
Index: []

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254 entries, 0 to 2253
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         2254 non-null   object
 1   location     2254 non-null   object
 2   price_lacs   2254 non-null   float64
 3   area_sqft    2254 non-null   int64
 4   bhk          2254 non-null   int64
 5   is_reviewed  2254 non-null   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 105.8+ KB